<html>
<head>
    <title>Oded's WeatherApp</title>
</head>

<Body background="https://i.postimg.cc/ydqDXMG6/yellowbackground.jpg"><br></Body>

<body> <center><h1>Data is backed up!</h1></center>
    <center><h1><a href="https://eu-central-1.console.aws.amazon.com/dynamodbv2/home?region=eu-central-1#item-explorer?initialTagKey=&table=weather">
    Wanna see it? (opens in same tab)</a></h1></center>
    </br></br>
    <center><button onclick="window.location.href='/'">Go back</button></center>

</body>
</html>
