<html>
<head>
    <title>Sad Face Error</title>
</head>

<!--<Body style="background-image: https://i.postimg.cc/zfSQc4rj/sadboy.jpg";height: 100vh: background-size: auto><br></Body>-->

<style>
    { margin: 0; padding: 0; }

    html {
        background: url('https://i.postimg.cc/zfSQc4rj/sadboy.jpg') no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
</style>

<br/><br/><br/><br/><br/><br/><br/><br/><br/>

<center><h1>Invalid input...</h1></center>
<center><button onclick="window.location.href='/'">Try again</button></center>

</html>
